{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid trophys">
    <div class="row">
        <div class="col text-center">
            <h1> "Partez à la découverte des plus beaux chefs d'oeuvres artistiques en suivant nos parcours ! "</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% for current, artworks in artworksByCurrent %}
                <h2>{{ current }}</h2>
                <div class="row">
                    {% for artwork in artworks %}
                        <div class="col-2">
                            {{ artwork.title }}
                            <img src="{{ vich_uploader_asset(artwork, 'imageFile') }}">
                            {% for user in artwork.users if user == app.user %}
                                vu
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container-fluid baba">
        <div class="row ">
            <div class="col ">
                <h2>Galerie des badges</h2>
            </div>

        </div>
        <div class="row">
            <div class="col3 mr-5 ml-5">
                <img src="{{ asset('/img/rank(7).png') }}">
                <p>impressionniste en herbe</p>
            </div>
            <div class="col3 mr-5  grey ">
                <img src="{{ asset('/img/rank(7).png') }}">
                <p>Cubiste en Herbe</p>
            </div>
            <div class="col3 mr-5 grey">
                <img src="{{ asset('/img/rank(7).png') }}">
                <p>Fauviste en herbe</p>

            </div>
            <div class="col3 mr-5 grey">
                <img src="{{ asset('/img/rank(7).png') }}">
                <p>Impressionniste amateur</p>
            </div>
            <div class="col3 mr-5 grey ">
                <img src="{{ asset('/img/rank(7).png') }}">
                <p>Cubiste amateur</p>
            </div>
            <div class="col3 mr-5 grey">
                <img src="{{ asset('/img/rank(7).png') }}">
                <p>Fauviste amateur</p>
            </div>
            <div class="col3 mr-5 ml-5  grey ">
                <img src="{{ asset('/img/rank(7).png') }}">
                <p>impressioniste en herbe</p>
            </div>

        </div>
    </div>
{% endblock %}